<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ramadan.azkar">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:name="com.ramadan.azkar.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ramadhan"
        android:label="@string/app_name"
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="whateverString"

        android:theme="@style/GreenActionBarTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/Admob_App_ID"/>


        <activity
            android:name="com.ramadan.azkar.SplashActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.ramadan.azkar.OccasionsActivity"
            android:label="@string/title_activity_occasions"
            android:screenOrientation="portrait"
            android:theme="@style/MenuNavigation3Theme">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <!-- Points to searchable activity -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".AuteursActivity" />

            <!-- Points to searchable meta data -->
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name="com.ramadan.azkar.CategoryActivity"
            android:label="@string/title_activity_category"
            android:screenOrientation="portrait"
            android:theme="@style/MenuNavigation3Theme" />
        <activity
            android:name="com.ramadan.azkar.AzkarActivity"
            android:label="@string/title_activity_azkar"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ramadan.azkar.AzkarsActivity"
            android:label="@string/title_activity_azkars"
            android:screenOrientation="portrait"
            android:theme="@style/MenuNavigation3Theme">

        </activity>

        <activity
            android:name="com.ramadan.azkar.AboutActivity"
            android:label="@string/title_contactus"
            android:theme="@style/GreenActionBarTheme">
        </activity>


        <activity
            android:name="com.ramadan.azkar.QuranPlayActivity"
            android:label="@string/title_activity_quran"
            android:parentActivityName="com.ramadan.azkar.Quranlist">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ramadan.azkar.Quranlist"/>
        </activity>





        <activity android:name="com.ramadan.azkar.Quranlist"
            android:label="@string/title_activity_quran"
            android:screenOrientation="portrait"
            android:theme="@style/MenuNavigation3Theme" />


        <activity
            android:name="com.ramadan.azkar.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MenuNavigation3Theme"/>

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.ramadan.azkar.MainActivity"/>
        <activity
            android:name="com.ramadan.azkar.UserSettingActivity"
            android:label="@string/title_activity_user_setting"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />


        <receiver android:name="com.ramadan.azkar.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.ramadan.azkar.WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <service android:name="com.ramadan.azkar.NotifyService" />


        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <!--
             Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
             installation campaign reporting
        -->
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.ramadan.azkar.AlarmReceiver" />

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />
        <service android:name="com.ramadan.azkar.SchedulingServiceToast" />

        <activity android:name="com.ramadan.azkar.AzkarsTimeSettingsActivity"
            android:theme="@style/GreenActionBarTheme"/>
    </application>

</manifest>
